mixin bigwall()
  .ind-block.wall
    .case
      .block__title
        h2!="Внедряем передовые технологии"
      .wall__list
        .wall__item
          .wall__info
            .wall__name.h2
              h2!="Современное оборудование"
            .wall__text!="Оснащены современным оборудованием лучших мировых производителей."
            a.wall__button.button.--blue(data-popup='' href='/company/')!="О компании"
          a(href="#").wall__img.bgw
            img(alt='Современное оборудование' src='img/content/gallery-2-1.jpg' loading='lazy')
        .wall__item.wall__item--reverse
          .wall__info
            .wall__name.h2
              h2!="Автоматизированные линии"
            .wall__text!="Многообразие вариантов и персонализация позволяют найти идеальное решение практически для каждого. Реализация - с учетом вашей потребности. А наши специалисты ответят на вопросы и помогут подобрать оптимальный вариант."
          .wall__img.bgw
            img(alt='Автоматизированные линии' src='img/content/complectation.jpg' loading='lazy')
        .wall__item
          .wall__info
            .wall__name.h2
              h2!="Специализированные станки"
            .wall__text!="Специализированные оснащение компании позволяет выполнять самые сложные операции. Использование в процессе производства и обслуживания инновационного оборудования является одним из важнейших критериев повышения эффективности деятельности. Нет предела совершенству, а значит, и улучшать техническое оснащение мы стараемся непрерывно."
          .wall__img.bgw
            img(alt='Специализированные станки' src='img/content/avtoritet.jpg' loading='lazy')
        .wall__item.wall__item--reverse
          .wall__info
            .wall__name.h2
              h2!="Собственный автотранспорт"
            .wall__text!="Автопарк компании и курьерская доставка партнёров позволяет осуществлять доставку в кратчайший срок без потери качества."
          .wall__img.bgw
            img(alt='Собственный автотранспорт' src='img/content/complectation.jpg' loading='lazy')
        .wall__item
          .wall__info
            .wall__name.h2
              h2!="Система контроля качества"
            .wall__text!="Многоуровневый контроль качества позволяет получать лучший результат. Обеспечивается высокая точность работы и соответствие стандартам и нормативам."
            a.wall__button.button.--blue(data-popup='' href='/reviews/')!="Посмотреть отзывы"
          .wall__img.bgw
            img(alt='Система контроля качества' src='img/content/avtoritet.jpg' loading='lazy')
