mixin catalog()
  .ind-catalog_tile
    ul.ind-catalog_tile_ul
      li(id="bx_1847241719_25")
        a(href="/building/" class="ind-catalog_tile_img")
          img(src="img/content/smaller-2_1.jpg" width=1200, height=900, alt="Текст")
        a(href="/building/" class="ind-catalog_tile_title")
          h2!="Стройматериалы"
          span!="(22)"
      li(id="bx_1847241719_25")
        a(href="/doors/" class="ind-catalog_tile_img")
          img(src="img/content/smaller-2_1.jpg" width=1200, height=900, alt="Текст")
        a(href="/doors/" class="ind-catalog_tile_title")
          h2!="Двери"
          span!="(12)"
      li(id="bx_1847241719_25")
        a(href="/gates/" class="ind-catalog_tile_img")
          img(src="img/content/smaller-2_1.jpg" width=1200, height=900, alt="Текст")
        a(href="/gates/" class="ind-catalog_tile_title")
          h2!="Ворота и ограждения"
          span!="(16)"
      li(id="bx_1847241719_25")
        a(href="/cottages/" class="ind-catalog_tile_img")
          img(src="img/content/smaller-2_1.jpg" width=1200, height=900, alt="Текст")
        a(href="/cottages/" class="ind-catalog_tile_title")
          h2!="Коттеджи по проектам"
          span!="(22)"
      li(id="bx_1847241719_25")
        a(href="/agroproducts/" class="ind-catalog_tile_img")
          img(src="img/content/smaller-2_1.jpg" width=1200, height=900, alt="Текст")
        a(href="/agroproducts/" class="ind-catalog_tile_title")
          h2!="С/х продукция"
          span!="(16)"
